<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul class="nav navbar-dark bg-dark ">
  <li class="nav-item">
    <a class="nav-link active" href="#">Artist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Album</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Songs</a>
  </li>
    <%= yield %>
  </body>
</html>
